<%= render 'shared/errors', obj: @recipe %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@recipe, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :name %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :description %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter the directions to create your recipe" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit class: "btn btn-danger btn-lg btn-xs" %>
          <%= link_to "Cancel", recipe_path(@recipe), class: "btn btn-info btn-lg btn-xs" %>
          <%= link_to "Return to All Recipes", recipes_path, class: "btn btn-success btn-lg btn-xs" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
